In [252]:
import pymongo
import pandas as pd
from pymongo import MongoClient
import json, csv

In [253]:
client = MongoClient()
db = client["Exercicios"]
collection= db["Exercicio_01"]

In [71]:
db.Exercicio_01.remove()

/home/lucasft/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  """Entry point for launching an IPython kernel.

{'n': 0, 'ok': 1.0}

In [ ]:
texto= """
import csv
from pymongo import MongoClient

def csv_to_json(db_name, collection_name, csv_file):
    #CSV to JSON Conversion
    Client = MongoClient()
    db = Client[db_name] 
    collection = db[collection_name]
    
    with open(csv_file, "rt") as infile:
        reader = csv.DictReader(infile)
        next(reader)
        for each in reader:
            collection.insert_one(each)

db_name = "GECID2"
collection_name = "Hepatitis"
csv_file = "/home/lucasft/Documents/gdrive/Pastas_em_Geral/Data_Science/MongoGecid/Teste_Mongo_Python/PythonMongoDB/hepatitis.csv"
csv_to_json(db_name, collection_name, csv_file)
    
"""

In [405]:
codigo = open('codigoSplit.csv', 'w')
texto= """
import csv
from pymongo import MongoClient

def csv_to_json(db_name, collection_name, csv_file):
    #CSV to JSON Conversion
    Client = MongoClient()
    db = Client[db_name] 
    collection = db[collection_name]
    
    with open(csv_file, "rt") as infile:
        reader = csv.DictReader(infile)
        next(reader)
        for each in reader:
            collection.insert_one(each)

db_name = "GECID2"
collection_name = "Hepatitis"
csv_file = "/home/lucasft/Documents/gdrive/Pastas_em_Geral/Data_Science/MongoGecid/Teste_Mongo_Python/PythonMongoDB/hepatitis.csv"
csv_to_json(db_name, collection_name, csv_file)
    
"""
textoStr= str(texto)
textoSplit= textoStr.split('\n')
for item in textoSplit:
    codigo.write(item)
# codigo.writelines(texto)
codigo.close()

# with open("codigo.csv", "rt") as infile:
#         reader = csv.DictReader(infile)
# #         next(reader)
#         for each in reader:
#             print(each)
#             collection.insert_one(each)
codigo= open("codigoPronto.csv", "r")
texto = codigo.readlines()
# jsonText= json.loads(codigo)
# dataframe= pd.DataFrame(texto1)
# dictionary= dataframe.to_dict()
# dataframe.index
# # for i in dataframe:
# #     dataframe.get_value(col=0, index=i.index)

In [408]:
texto

['\n', 'for i in range(0, 10):\n', '    print(i)\n']

In [548]:
len(texto)

3

In [467]:
df= pd.DataFrame(texto)

In [468]:
df

                          0
0                        \n
1  for i in range(0, 10):\n
2                print(i)\n

In [466]:
# df.to_dict('records')

In [469]:
with open("codigoPronto.txt", "w") as infile:
#     for item in range(0, df.size):
    infile.write(str(df.to_dict()))
#         infile.writelines(str(df.values[item][0]))

In [470]:
dfDictionary= df.to_dict()

In [476]:
dfDictionary

{0: {0: '\n', 1: 'for i in range(0, 10):\n', 2: '    print(i)\n'},
 '_id': ObjectId('59e5ec09b787e614c62debd3')}

In [497]:
StringDF= df.to_string()

In [516]:
print(StringDF)

                          0
0                        \n
1  for i in range(0, 10):\n
2                print(i)\n

In [528]:
SplitString= StringDF.split("\n")
SplitString

['                          0',
 '0                        \\n',
 '1  for i in range(0, 10):\\n',
 '2                print(i)\\n']

In [563]:
dicionario={}
for i in range(len(texto)):
    dicionario.setdefault(str(i), texto[i])
# dicionario[0]= texto[0]
# dicionario[1]= texto[1]
# dicionario[2]= texto[2]

In [564]:
dicionario.items()

dict_items([('0', '\n'), ('1', 'for i in range(0, 10):\n'), ('2', '    print(i)\n')])

In [567]:
print(dicionario["0"])
print(dicionario["1"])
print(dicionario["2"])

for i in range(0, 10):

    print(i)

In [473]:
# for item in dataframe_json:
#        print(item.
type(dfDictionary)

dict

In [581]:
db.Exercicio_01.remove()

/home/lucasft/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'ok': 1.0}

In [583]:
nums= collection.insert_one(dicionario)

In [585]:
data = pd.DataFrame(list(collection.find()))

In [586]:
data

    0                         1               2                       _id
0  \n  for i in range(0, 10):\n      print(i)\n  59e5f09bb787e614c62debd7

In [609]:
data.get_value(index=0, col="1")

'for i in range(0, 10):\n'

In [591]:
data.size

4

In [635]:
with open("codigoFromMongoDB.py", "w") as infile:
    for item in range(0, data.size-1):
        infile.write(str(data.get_value(index=0, col=str(item))))

In [636]:
with open("codigoFromMongoDB.py", "r") as infile:
#     print(infile.read())
    exec(infile.read())

0
1
2
3
4
5
6
7
8
9